<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShoesVilla</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/static/index.js"></script>
    <script type="text/javascript" src="/static/home.js"></script>
</head>
<body>
    {% csrf_token %}
    <header class="bg-dark text-light">
        <div class="row">
            <div class="navbar">
                <div class="ms-4 ps-4">
                    <h1>ShoesVilla</h1>
                </div>
    
                <div class="me-4 pe-4">
                    <span id="open-cart" class="h3">CART</span>
                </div>
            </div>
        </div>
    </header>

    <main class="container">
        <div id="all-product-div" class="row">
            <div  class="">
                <!-- The product are shown here using ShowProducts function -->
            </div>
            
        </div>

        <!-- Modal to show Cart Items -->
        <div class="modal" id="Cart" tabindex="-1" role="dialog" aria-labelledby="CartLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <h3 id="CartLabel">CART</h3>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div class="form-group amp-box-border p-2">
                                <div id="cart-items" class="text-center">
                                    <span  class=""></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center" >
                        <button id="checkout" type="button" class="btn btn-primary">CHECKOUT</button>
                        <button type="button" class="btn secondary_btn" data-bs-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <script>
        $(document).ready(function(){

            ShowProducts("all-product-div", 5)


            $(`#open-cart`).on('click', OnOpenCartClick);

            $(`#checkout`).on('click', OnCheckoutClick);

        })
    </script>
</body>
</html>
